.topimage {
    position: flex;
    width: 2000px;
    height: 700px;
}

.bi-arrow-left {
    font-size: xx-large;
    width: min-content;
    height:10px;
    color: red;
}

.bi-arrow-right {
    font-size: xx-large;
}